* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  padding: 0 1rem 0 1rem;
  background-color: #9c835f;
}
header {
  padding-top: 1rem;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
header a {
  text-decoration: none;
  height: 100%;
  font-weight: bold;
  font-size: 4em;
  color: #724c21;
}
header h1 {
  color: #f9b23d;
}
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". player1 .       computer  ."
    ". player1 versus  computer  ."
    ". player1 refresh computer  .";
}
#player1 {
  grid-area: player1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#player1 div {
  width: 10rem;
  height: 10rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#player1 input {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 10rem;
  transform: scale(0.6);
}
#versus {
  grid-area: versus;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.vs {
  margin-top: 3rem;
  padding: 0 4rem 0 4rem;
  color: #bd0000;
  font-size: 7rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-align: center;
}
.win {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 9rem;
  background-color: #4c9654;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin: 10% auto;
  border-radius: 10px;
  transform: rotate(-28deg);
}
.draw {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 9rem;
  background-color: #035b0c;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin: 10% auto;
  border-radius: 10px;
  transform: rotate(-28deg);
}
#computer {
  grid-area: computer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#computer div {
  width: 10rem;
  height: 10rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#computer img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  max-width: 10rem;
  transform: scale(0.6);
}
#refresh {
  grid-area: refresh;
  margin-top: 9rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.refresh {
  width: 5em;
}

@media (max-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "player1 .       computer"
      "player1 versus  computer"
      "player1 refresh computer";
  }
}

@media (max-width: 768px) {
  header {
    gap: 5px;
  }
  header a {
    font-size: 3rem;
  }
  header img {
    scale: 0.8;
  }
  header h1 {
    font-size: 1.5rem;
  }
  #player1 {
    gap: 10px;
    font-size: 0.8rem;
  }
  #player1 div {
    height: 8rem;
    width: 8rem;
  }
  #player1 input {
    width: 8rem;
    transform: scale(0.6);
  }
  #computer {
    gap: 10px;
    font-size: 0.8rem;
  }
  #computer div {
    height: 8rem;
    width: 8rem;
  }
  #computer img {
    width: 8rem;
    transform: scale(0.6);
  }
  .win {
    width: 10rem;
    height: 6rem;
    font-size: 2rem;
    margin: 10% auto;
  }
  #versus {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .draw {
    width: 10rem;
    height: 6rem;
    font-size: 2rem;
    margin: 10% auto;
  }
  .vs {
    font-size: 4rem;
  }
  #refresh {
    margin-top: 6rem;
  }
  .refresh {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 576px) {
  header {
    gap: 0.1rem;
  }
  header a {
    font-size: 2rem;
  }
  header img {
    scale: 0.6;
  }
  header h1 {
    font-size: 1rem;
  }
  #player1 {
    gap: 5px;
    font-size: 0.6rem;
  }
  #player1 div {
    height: 6rem;
    width: 6rem;
  }
  #player1 input {
    width: 6rem;
    transform: scale(0.6);
  }
  #computer {
    gap: 5px;
    font-size: 0.6rem;
  }
  #computer div {
    height: 6rem;
    width: 6rem;
  }
  #computer img {
    width: 6rem;
    transform: scale(0.6);
  }
  .win {
    width: 6rem;
    height: 4rem;
    font-size: 1rem;
    margin: 10% auto;
  }
  #versus {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .draw {
    width: 6rem;
    height: 4rem;
    font-size: 1rem;
    margin: 10% auto;
  }
  .vs {
    margin-top: 3rem;
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
  }
  #refresh {
    margin-top: 6rem;
  }
  .refresh {
    width: 2rem;
    height: 2rem;
  }
}
